@font-face {
    font-family: MonumentExtended-Black;
    src: url(MonumentExtended-Regular.woff);
}
body {
    font-family: MonumentExtended-Black;
    background-color: darkgray;
}

#nav {
    text-align: right;
}

h1 {
    text-align: center;
    text-shadow:0px 5px 5px rgb(63, 63, 63);
}

h2{
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter:drop-shadow(0px 10px 5px black);
    border-radius: 50%;
}
h3{
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}